[submodule "no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/tvlad1234/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "pico-displayDrivs"]
	path = pico-displayDrivs
	url = https://github.com/tvlad1234/pico-displayDrivs.git
[submodule "pico-ps2Driv"]
	path = pico-ps2Driv
	url = https://github.com/tvlad1234/pico-ps2Driv.git
